<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Topic Space LDAvis</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css" >

<style>
    body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}
</style>

    <script src="/static/ldavis/d3.v3.js"></script>
    <script src="/static/ldavis/ldavis.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/ldavis/lda.css">
  </head>

  <body>

   <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">TOPIC SPACE</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/topic_space/wordcloud/">WordCloud</a></li>
            <li><a href="/topic_space/termite/">Termite</a></li>
            <li class="active"><a href="/topic_space/ldavis/">LDAVis</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

<div style="clear: both;"></div>
    <!-- Do we need this? -->
    <div id="errorMsg"></div>

    <!-- Placeholder div -->
    <!-- <div id="lda" style="clear: left; background-color: #ffffff; transform: translate(0px, 50px)"></div>-->
    <div class="row" style="text-align:center"> <h1>LDAVis</h1><h4>LDAVis allows you to explore the different topics in Material Science.</h4> <p>These are the results after performing LDA on the ~74,000 documents with an EntityTokenizer and n=10</p></div>
    <div id="lda" style="clear: left; background-color: #ffffff; position: relative; top: 60px; left: 50px"></div>
    <script>
      var vis = new LDAvis("div#lda", "/static/ldavis/lda.json");
    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular.min.js"></script>

  </body>

</html>
