<!DOCTYPE html>
<html lang="en">
    <head>
      <title>Topic Space Termite Plot</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="{{ url_for('static', filename='termite/bootstrap.min.css') }}"/>
      <link rel="stylesheet" href="{{ url_for('static', filename='termite/bootstrap-theme.min.css') }}" >
      <link href="{{ url_for('static', filename='termite/bokeh-0.8.2.min.css') }}" rel="stylesheet" type="text/css">
      <script src="{{ url_for('static', filename='termite/bokeh-0.8.2.min.js') }}"></script>
      {{ script | safe }}
    </head>
    <body role="document">

       <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">TOPIC SPACE</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/topic_space/wordcloud/">WordCloud</a></li>
            <li class="active"><a href="/topic_space/termite/">Termite</a></li>
            <li><a href="/topic_space/ldavis/">LDAVis</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

      <div class="container theme-showcase" role="main" style="margin-top:60px">
           <div class="row" style="text-align:center"> <h1>Termite Plot</h1><h4>A Termite plot allows you to explore the different topics in Autonomy.</h4> <p>These are the results after performing LDA on the ~115,000 documents with an EntityTokenizer and n=10</p></div>

                {{ div | safe }}

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{{ url_for('static', filename='termite/jquery.min.js') }}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ url_for('static', filename='termite/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='termite/angular.min.js') }}"></script>


    </body>
</html>
